body#us-page {
    margin: 0;
    padding: 0;
}
div.content {
    display: inline-block;
    position: relative;
    animation: TransIn 0.5s;
    justify-content: left;
    text-align: left;
}
div.content > * {
    display: flex;
    margin: 10px 15px;
    padding: 10px 15px;
}
