div.form-page {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    background-image: linear-gradient(80deg, orange, yellow);
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

form > * {
    margin: 10px 15px;
    padding: 5px 7px;
}

form > label {
    font-size: large;
    font-weight: lighter;
    line-height: 1;
    color: gray;
    text-align: left;
}
input[name="username"],
input[name="password"] {
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
}

input[name="submit"] {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[name="name"],
input[name="birthdate"] {
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
}

input[name="submit"]:hover {
    background-color: gray;
    color: rgba(0, 0, 0, 1);
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}
