<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>To Do List</title>
  </head>
  <body id="main-page">
    <nav>
      <input type="checkbox" id="check">
      <label class='checkmo'for="check">
        <i class="fa fa-bars"></i>
      </label>
      <a href="index.html"><img class="logo" src="../images/temp-logo.png" alt="logo"></a>
      <ul>
        <li><a class="nav" href="index.html">Home</a></li>
        <li><a class="nav" href="about.html">About</a></li>
        <li><a class="nav" href="us.html">Us</a></li>
      </ul>
    </nav>

    <section id="main">
      <div class="container">
        <div class="header">
          <div class="title">
              To Do List
              </div>
        </div>
      <div class="new-task">
        <div class="checkbox">
          <div class="checkmark">
          </div>
        </div>
        <div class="new-task-input">
          <form onsubmit="">
            <input type="text" placeholder="Create new task..."/>
            <input type="text" name="" value="" placeholder="Task Description">
            <input class="date-picker" type="date" name="" value="1999-12-31" min="1970-12-31" max="2030-12-31">
          </form>
        </div>
      </div>
      <input class='sub-btn' type="submit" name="Add New Task" value="Add New Task">
    </div>
   </section>

  </body>
</html>
