<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/styles/styles.css">
    <link rel="stylesheet" href="../statics/styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>To Do List</title>
  </head>
  <body id="main-page">
    <nav>
      <input type="checkbox" id="check">
      <label class='checkmo'for="check">
        <i class="fa fa-bars"></i>
      </label>
      <a href="index.html"><img class="logo" src="../images/temp-logo.png" alt="logo"></a>
      <ul>
        <li><a href="login.html" class="nav">Login</a></li>
        <li><a class="nav" href="index.html">Home</a></li>
        <li><a class="nav" href="about.html">About</a></li>
        <li><a class="nav" href="us.html">Us</a></li>
        <li><a href="signup.html" class="nav">Signup</a></li>
      </ul>
    </nav>

    <section id="main">
        <div class="form-page">
            <form action="login.html" method="post">
                <label for="name">Name </label>
                <input type="text" name="name" placeholder="Enter Name">
                <label for="username">Username </label>
                <input type="text" name="username" placeholder="Enter Username">
                <label for="password">Password </label>
                <input type="text" name="password" placeholder="Enter Password">
                <label for="birthdate">Birthdate </label>
                <input type="date" name="birthdate" placeholder="Enter Username">
                
                <input class="login-btn" type="submit" name='submit' value="Signup">
            </form>
        </div>
   </section>

  </body>
</html>
