<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/styles.css">
    <title>Us</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label class='checkmo'for="check">
        <i class="fa fa-bars"></i>
      </label>
      <a href="index.html"><img class="logo" src="../images/temp-logo.png" alt="logo"></a>
      <ul>
        <li><a class='active nav'href="index.html">Home</a></li>
        <li><a class="nav" href="about.html">About</a></li>
        <li><a class="nav" href="us.html">Us</a></li>
      </ul>
    </nav>

    <div class="Deck">
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: Zander Tabelona</h4>
        <h4>Section: BSIS-NS-3C</h4>
        <h4>Motto: </h4>
      </div>
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: Kimberly Lanon</h4>
        <h4>Section: BSIS-NS-3D</h4>
        <h4>Motto: </h4>
      </div>
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: Ma. Jessel Quijano</h4>
        <h4>Section: BSIS-NS-3C</h4>
        <h4>Motto: </h4>
      </div>
      <div class="break"></div>
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: Angelica Castillo</h4>
        <h4>Section: BSIS-NS-3C</h4>
        <h4>Motto: </h4>
      </div>
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: John Roland Balderas</h4>
        <h4>Section: BSIS-NS-3D</h4>
        <h4>Motto: </h4>
      </div>
      <div class="card">
        <img src="" alt="your image here">
        <h4>Name: Enesto Enero</h4>
        <h4>Section: BSIS-NS-3D</h4>
        <h4>Motto: </h4>
      </div>
    </div>
  </body>
</html>
